<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="CasinoSF">
        
        <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect </property>
        <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@serv.fis.ucm.es:1521:xe</property>
        <property name="hibernate.connection.username">SYSTEM</property>
        <property name="hibernate.connection.password">casinois0809ñ</property>
    
        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

<property name="hibernate.show_sql">false</property>

        <!-- MAPPINGS -->
        <mapping resource="bbdd/beans/Salas.hbm.xml"/>
        <mapping resource="bbdd/beans/Clientes.hbm.xml"/>
        <mapping resource="bbdd/beans/Partidas.hbm.xml"/>
        <mapping resource="bbdd/beans/Juegos.hbm.xml"/>
        <mapping resource="bbdd/beans/Mesas.hbm.xml"/>
        <mapping resource="bbdd/beans/Participantes.hbm.xml"/>
        
    </session-factory>
</hibernate-configuration>
